<!DOCTYPE html>
<html>
<head>
    <title>Intel Threat Intelligence With Netflows</title>     	
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/custom.min.css" />
    <link rel="stylesheet" href="static/css/app.css" />
    <link rel="stylesheet" href="static/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
</head>
<body>    
	<script type="text/javascript" src="static/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="static/js/bundle.js"></script>	
</body>
</html> 