/*******************************
 **         Responsive        **
 *******************************/
.oni-frame-content > .panel > .panel-heading {
    height: 35px;
}

.oni-frame-content > .panel > .panel-body {
    padding: 0;
}

.oni-frame-content > .panel > .panel-body > .panel-body-container {
    overflow-x: auto;
}

.oni-frame-content > .panel > .panel-heading .panel-toolbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.oni-frame-content > .panel > .panel-heading .panel-toolbar li {
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
}

/**
 * Mobile CSS
**/
@media(max-width: 767px) {
}

/**
 * Small and Desktop CSS
 **/
@media(min-width: 768px) {
    html, body {
        height: 100%;
        min-height: 900px;
    }

    #oni-nav {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 94px;
    }

    #oni-content, #oni-content-wrapper {
        height: 100%;
        width: 100%;
    }

    #oni-content-wrapper {
        padding: 94px 0 0 0;
    }

    #oni-content > .row {
        margin: 0;
    }

    .oni-maximized {
        width: 100% !important;
        height: 100% !important;
    }

    .oni-minimized {
        position: absolute;
        top: -1000000px;
        left: -1000000px;
    }

    .oni-frame {
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .oni-frame-content {
        height: 100%;
        padding: 10px 0;
    }

    .oni-frame-content > .panel {
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative;
    }

    .oni-frame-content > .panel > .panel-heading .panel-toolbar li.resize-small,
    .oni-maximized .oni-frame-content > .panel > .panel-heading .panel-toolbar li.fullscreen {
       display: none;
    }

    .oni-maximized .oni-frame-content > .panel > .panel-heading .panel-toolbar li.resize-small {
       display: inline-block;
    }
}

/**
 * Desktop CSS
**/
@media(min-width: 992px) {
    #oni-content > .row {
        height: 50%;
    }

    .oni-frame-content > .panel > .panel-heading {
        width: 100%;
        position: absolute;
        z-index: 2;
    }

    .oni-frame-content > .panel.no-heading > .panel-body {
        padding-top: 0px;
    }
    .oni-frame-content > .panel > .panel-body {
        height: 100%;
        padding: 35px 0 0 0;
        overflow: hidden;
    }

    .oni-frame-content > .panel > .panel-body > .panel-body-container {
        height: 100%;
        overflow: auto;
    }

    .oni-frame .panel-body-container.container-box {
        overflow: hidden !important;
    }

    .oni-frame .panel-body-container.container-box > .inner-container-box {
      max-height: 100%;
      overflow: auto;
    }

    .oni-frame .panel-body-container.container-box > * {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
    }
}

/*******************************
 **           ONI             **
 *******************************/
